export HOMEBREW_PREFIX="$(brew --prefix)"
export KERL_BUILD_DOCS=yes
# brew install wxwidgets libxslt fop
export LDFLAGS="-L$HOMEBREW_PREFIX/opt/libxslt/lib"
export CPPFLAGS="-I$HOMEBREW_PREFIX/opt/libxslt/include"
use asdf
